
 <section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, esse.
  </header>
   <article class="grid grid-cols-2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
            <use xlink:href="assets/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ab et assumenda animi tempora hic aut eos harum aliquid.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="assets/images/easy.webp" alt="">
  </article>
   <article class="grid grid-cols-2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
            <use xlink:href="assets/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ab et assumenda animi tempora hic aut eos harum aliquid.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="assets/images/easy.webp" alt="">
  </article>
   <article class="grid grid-cols-2 feature">
    <div class="feature-content">
      <span class="icon-container">
        <svg class="icon icon-primary">
            <use xlink:href="assets/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature-heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis sequi ab et assumenda animi tempora hic aut eos harum aliquid.</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img src="assets/images/easy.webp" alt="">
  </article>
 </section>
