/* Variables */
:root{
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --heading-color: #1b0760;
    --body-color: #918ca4;
    --font-family: Inter,'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px; 
    --border-color:#ccc;
    --border-radius:30px;
}

*,*::before, *::after{
    box-sizing: border-box;
}

/* Typography Styles */
html{
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family);
    font-size: 2.4rem; /* 16px */
    line-height: 1.6; 
    color: var(--body-color);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1,h2,h3{
    color: var(--heading-color);
}

h1{
    font-size: 7rem;
    margin-bottom: calc(var(--spacing-unit) * 2);
}

h2{
    font-size: 4rem;
    margin-bottom: calc(var(--spacing-unit) * 1.5);
}

h3{
    font-size: 3rem;
    margin-bottom: calc(var(--spacing-unit) * 1);
}


/* Links */
a{
    text-decoration: none;
}

.link-arrow{
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after{
    content: ' ->';
    margin-left: 5px;
    transition: margin-left 0.15s ease
}

.link-arrow:hover::after{
    margin-left: 10px
}

/* Badges styles */
.badge{
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
}

.badge-primary{
    background-color: var(--primary-color);
    color: #ffffff;
}

.badge-secondary{
    background-color: var(--secondary-color);
    color: #ffffff;
}

.badge-small{
    padding: 0.3rem 1rem;
    font-size: 1.6rem;
    color: #ffffff;
}

/* Lists */
.list{
    list-style-type: none;
    padding-left: calc(var(--spacing-unit) * 4);
    margin: 0 0 calc(var(--spacing-unit) * 2) 0;
    color: var(--heading-color);
}

.list-inline .list-item{
    display: inline-block;
    margin-right: 2rem;
}

/* .list-ticked .list-item::before{
    content: '✓ ';
    color: var(--accent-color);
    font-weight: bold;
} */

.list-ticked{
    list-style-image: url(../icons/tick.svg);
}

.list-ticked .list-item{
    padding-left: calc(var(--spacing-unit) * 1);
    margin-bottom: 1rem;
}

/* Icons */
.icon{
    width: 40px;
    height: 40px;
}

.icon-primary{
    fill: var(--primary-color);
}

.icon-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f3f9fa;
    /* padding: 10px; */
}

/* Buttons */
.btn{
    border-radius: 50px;
    border: none;
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 3rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.btn-primary{
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-primary:hover{
    background-color: #1a5fb8;
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: #ffffff;
}

.btn-secondary:hover{
    background-color: #00a3b8;
}

.btn-accent{
    background-color: var(--accent-color);
    color: #ffffff;
}

.btn-accent:hover{
    background-color: #cc2e00;
}

.btn-outline{
    background-color: white;
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
}

.btn-outline:hover{
    background-color: var(--heading-color);
    color: #ffffff;
}

.btn-block{
    width: 100%;
    display: inline-block;
}

/* Input styles */

.input{
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--heading-color);
    font-size: 2rem;
}

::placeholder{
    color: #bbb;
}

.input-group{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input{
    border: none;
    box-shadow: none;
    flex: 1;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn{
    margin: 4px;
}

/* Cards */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header, .card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

/* Plans */

.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(../images/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan--popular {
    transform: scale(1.1);
  }
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }

  .plan--popular {
    transform: scale(1.1);
  }
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}








/* Responsive styles */
@media  screen and (min-width:1024px) {
    body{
        font-size: 1.8rem; /* 18px */
    }

    h1{
        font-size: 8rem;
    }
    
    h2{
        font-size: 4rem;
    }

    h3{
        font-size: 2.4rem;
    }

    .link-arrow{
        font-size: 1.5rem
    }

    .badge{
        font-size: 1.5rem;
    }

    .badge-small{
        font-size: 1.2rem;
    }

    .list-ticked .list-item{
        padding-left: 0;
    }

    .btn{
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem;
    }

    .input{
        font-size: 1.8rem;
        padding: 1.2rem 2.5rem;
    }
}