/* Variables */
:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --heading-color: #1b0760;
    --body-color: #918ca4;
    --font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
    --border-color: #ccc;
    --border-radius: 30px;
    --body-darker-color: #5c5577;
    --btn-accent-hover: #cc2e00;
    --btn-primary-hover: #1a5fb8
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Typography Styles */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 2.4rem;
    /* 16px */
    line-height: 1.6;
    color: var(--body-color);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1,
h2,
h3 {
    color: var(--heading-color);
}

h1 {
    font-size: 7rem;
    margin-bottom: calc(var(--spacing-unit) * 2);
}

h2 {
    font-size: 4rem;
    margin-bottom: calc(var(--spacing-unit) * 1.5);
}

h3 {
    font-size: 3rem;
    margin-bottom: calc(var(--spacing-unit) * 1);
}


/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: ' ->';
    margin-left: 5px;
    transition: margin-left 0.15s ease
}

.link-arrow:hover::after {
    margin-left: 10px
}

/* Badges styles */
.badge {
    border-radius: 20px;
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
}

.badge-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.badge-secondary {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.badge-small {
    padding: 0.3rem 1rem;
    font-size: 1.6rem;
    color: #ffffff;
}

/* Lists */
.list {
    list-style-type: none;
    padding-left: calc(var(--spacing-unit) * 4);
    margin: 0 0 calc(var(--spacing-unit) * 2) 0;
    color: var(--heading-color);
}

.list-inline .list-item {
    display: inline-block;
    margin-right: 2rem;
}

.list-ticked {
    list-style-image: url(../icons/tick.svg);
}

.list-ticked .list-item {
    padding-left: calc(var(--spacing-unit) * 1);
    margin-bottom: 1rem;
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

.icon-small{
    width: 30px;
    height: 30px;
}

.icon-primary {
    fill: var(--primary-color);
}

.icon-white {
    fill: #fff;
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f3f9fa;
    /* padding: 10px; */
}

.icon-container-black{
    background-color: var(--heading-color);
    color: white;
}

.icon-small{
    width: 40px;
    height: 40px;
}



.icon-container-accent{
    background-color: var(--accent-color);
}

/* Buttons */
.btn {
    border-radius: 50px;
    border: none;
    cursor: pointer;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 3rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.btn-stretched{
    padding-left: 6rem;
    padding-right: 6rem;

}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #00a3b8;
}

.btn-accent {
    background-color: var(--accent-color);
    color: #ffffff;
}

.btn-accent:hover {
    background-color: var(--btn-accent-hover);
}

.btn-outline {
    background-color: white;
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
}

.btn-outline:hover {
    background-color: var(--heading-color);
    color: #ffffff;
}

.btn-block {
    width: 100%;
    display: inline-block;
}

/* Input styles */

.input {
    padding: 1.5rem 3.5rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    color: var(--heading-color);
    font-size: 2rem;
}

::placeholder {
    color: #bbb;
}

.input-group {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
}

.input-group .input {
    border: none;
    box-shadow: none;
    flex: 1;
    flex-grow: 1;
    padding: 1.5rem 1rem;
}

.input-group .btn {
    margin: 4px;
}

/* Cards */

.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 7%;
}

.card--primary .card__header {
    background: var(--color-primary);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--color-secondary);
    color: #fff;
}

.card--primary .badge--primary {
    background: #126de4;
}

.card--secondary .badge--secondary {
    background: #02cdf1;
}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3;
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary .card__header {
    background: var(--primary-color);
    color: #fff;
}

.card--secondary .card__header {
    background: var(--secondary-color);
    color: #fff;
}

.card--secondary .badge--secondary {
    background: #02cdf1;
}

/* Plans */
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

/* Plans */
.plan__name {
    color: #fff;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}

.plan__price {
    font-size: 6rem;
}

.plan__billing-cycle {
    font-size: 2.4rem;
    font-weight: 300;
    opacity: 0.8;
    margin-right: 1rem;
}

.plan__description {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}

.plan .list__item {
    margin-bottom: 2rem;
}

.plan--popular .card__header {
    position: relative;
}

.plan--popular .card__header::before {
    content: url(../images/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%;
}

/* Media */
.media {
    display: flex;
}

.media-title {
    margin-top: 0;
}

.media-body {
    margin-left: calc(var(--spacing-unit) * 3);
}

.media-image {
    margin-top: 1rem;
}

/* Quote */
.quote {
    font-style: italic;
    font-size: 3rem;
    color: var(--body-darker-color);
    line-height: 1.3;
}

.quote-text::before {
    content: open-quote;
}

.quote-text::after {
    content: close-quote;
}

.quote-author {
    margin-top: calc(var(--spacing-unit) * 2);
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    color: var(--heading-color);
}

.quote-organization {
    margin-top: 0;
    font-size: 2.4rem;
    color: var(--heading-color);
    opacity: .4;
    font-style: normal;
}

.quote-line {
    position: relative;
    margin-bottom: 10px;
}

.grid{
    display: grid;
}


/* Testimonials */
.testimonial{
    padding: 3rem
}

.testimonial-image{
    position: relative;
}

.testimonial-image > img{
    width: 100%;
}

.testimonial-image > .icon-container{
    position: absolute;
    top: 3rem;
    right: -32px;
}

/* Callouts */
.callout{
    padding: 4rem;
    border-radius: 5px;
}

.callout-primary{
    background: var(--primary-color);
    color: #fff;
}

.callout-heading{
    color: #fff;
    margin-top: 0;
    font-size: 3rem;
}

.callout .btn{
    justify-self: center;
    align-self: center;
}

.callout-content{
    text-align: center;
}

/* Collapsibles */
.collapsible-header{
    display: flex;
    justify-content: space-between;
}

.collapsible-heading{
    margin-top: 0;
    font-size: 3rem;
}



.collasible-content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
}

.collapsible-chevron{
    transform: rotate(0);
    transition: transform 0.3s ease;
}

.collapsible-expended .collasible-content{
    max-height: 100vh;
    opacity: 1;
}

.collapsible-expended .collapsible-chevron{
    transform: rotate(90deg);
}


@media screen and (min-width:768px) {
    .callout .grid-cols-2{
        grid-template-columns: 1fr auto;
    }
    .grid-cols-2{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .testimonial .quote,
    .testimonial .quote-author,
    .testimonial .quote-organization{
        font-size: 2.4rem;
    }

    .testimonial .quote{
        margin-left: 6rem;
    }

    .callout-content{
        text-align: left;
    }

    .callout .btn{
        justify-self: start;
        margin: 0 2rem;
    }
}


/* Responsive styles */
@media screen and (min-width:1024px) {
    body {
        font-size: 1.8rem;
        /* 18px */
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    .link-arrow {
        font-size: 1.5rem
    }

    .badge {
        font-size: 1.5rem;
    }

    .badge-small {
        font-size: 1.2rem;
    }

    .list-ticked .list-item {
        padding-left: 0;
    }

    .btn {
        font-size: 1.8rem;
        padding: 1.5rem 2.5rem;
    }

    .input {
        font-size: 1.8rem;
        padding: 1.2rem 2.5rem;
    }

    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

    .plan__name {
        font-size: 1.4rem;
    }

    .plan__price {
        font-size: 5rem;
    }

    .plan__billing-cycle {
        font-size: 1.6rem;
    }

    .plan__description {
        font-size: 1.7rem;
    }

    .quote {
        font-size: 2rem;
    }

    .quote-author {
        font-size: 2.4rem;
    }

    .quote-organization {
        font-size: 1.8rem;
    }

        .grid-clos-3{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}